<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>permissionServlet</servlet-name>
        <servlet-class>Servlets.permissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suggestionServlet</servlet-name>
        <servlet-class>Servlets.suggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>Servlets.adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emergencyServlet</servlet-name>
        <servlet-class>Servlets.emergencyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>permissionServlet</servlet-name>
        <url-pattern>/permissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suggestionServlet</servlet-name>
        <url-pattern>/suggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emergencyServlet</servlet-name>
        <url-pattern>/emergencyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
